/* ===================== */
/* General Styles        */
/* ===================== */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

button {
    color: white;
    background: #008fc7;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #25486a;
}

html, body {
    height: 100%; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* ===================== */
/* Header Styles         */
/* ===================== */
.cart-icon-img {
    height: 30px;
    width: 30px; /* Uniform size */
    object-fit: cover; /* Ensure proper scaling */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #008fc7;
    position: relative; /* Esto permite que los iconos se posicionen a la derecha */
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    max-height: 100px; /* Limiting the max height of the header */
}

.header-main {
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    justify-content: space-between;
    padding: 10px 20px; /* Adjust padding for better alignment */
    height: 100%; /* Ensure this takes up the full available height */
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    max-height: 70px;
}

.logo-img {
    object-fit: cover; /* Ensures consistent aspect ratio */
    transition: transform 0.3s, box-shadow 0.3s;
    height: 75px; /* Ensures the logo doesn't grow too big */
}

.logo-img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

.account-menu-icon img {
    height: 40px;
    width: 40px; /* Uniform size */
    border-radius: 50%; /* Circular icon */
    object-fit: cover; /* Ensure proper scaling */
}

.header-account-btn {
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    gap: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 1rem;
}

.account-menu-content span {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.header-products a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: white;
}

.header-products {
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.header-products:hover {
    background-color: #2e5c8b;
}

.header-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    gap: 10px;
}

.header-secondary {
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #345f8a;
}

.header-nav {
    display: flex;
    gap: 20px;
}

.header-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s, text-shadow 0.3s;
}

.header-nav a:hover {
    color: #f0e68c;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
}

/* ===================== */
/* Index Section Styles  */
/* ===================== */
main {
    flex: 1;
    padding: 2rem;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

main h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #008fc7;
    margin-bottom: 1rem;
}

main p {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Diseño responsivo */
    gap: 1.5rem; /* Espaciado entre productos */
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;
}

/* Estilo para cada producto */
.producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Evita que el contenido se desborde */
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Imagen del producto */
.producto img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
    transition: transform 0.3s;
}

.producto img:hover {
    transform: scale(1.05);
}

/* Título del producto */
.producto h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 0.5rem 0;
}

/* Descripción del producto */
.producto p {
    font-size: 1rem;
    color: #666;
    margin: 0.5rem 0;
}

.producto p strong {
    color: #008fc7;
    font-size: 1.2rem;
}

/* Botón */
.producto button {
    background-color: #008fc7;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.producto button:hover {
    background-color: #005f87;
    transform: scale(1.05);
}

.cantidad-control {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cantidad-control button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.cantidad-control input {
    width: 50px;
    text-align: center;
    font-size: 16px;
}

/* ===================== */
/* Footer Styles         */
/* ===================== */
footer {
    background-color: #008fc7;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* ===================== */
/* Account Page Styles   */
/* ===================== */

.account-container {
    margin: 40px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    max-width: 1200px; /* Aumento del ancho máximo */
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaciado entre las secciones */
    height: 100%;
}

.user-info {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #555;
    font-size: 1rem;
    line-height: 1.6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 100%;
}

.user-info h2 {
    font-size: 1.5rem;
    color: #345f8a;
    margin-bottom: 15px;
}

.user-info p {
    margin: 10px 0;
}

.user-info button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #008fc7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-info button:hover {
    background-color: #25486a;
}

.account-orders {
    padding: 20px;
    background-color: #e5f2f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.account-orders h3 {
    font-size: 1.4rem;
    color: #008fc7;
}

.order-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.order-item:last-child {
    border-bottom: none;
}

.order-item p {
    font-size: 1rem;
    color: #444;
}

.order-item button {
    padding: 6px 12px;
    background-color: #008fc7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.order-item button:hover {
    background-color: #2e5c8b;
}
/* ===================== */
/* Responsive Styles     */
/* ===================== */

/* Small screen devices (phones) */
@media (max-width: 600px) {
    .header-main {
        flex-direction: column;
        text-align: center;
    }

    .header-nav {
        flex-direction: column;
        align-items: center;
    }

    .producto {
        flex-direction: column;
    }

    .productos {
        grid-template-columns: 1fr; /* Display products in a single column */
    }

    .producto img {
        max-width: 100%;
    }

    .cart-btn {
        flex-direction: column;
        gap: 8px;
    }

    .header-secondary {
        flex-direction: column;
        align-items: center;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header-products {
        justify-content: center;
    }
}

/* Medium screen devices (tablets) */
@media (min-width: 600px) and (max-width: 900px) {
    .header-main {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .productos {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }

    .producto {
        flex-direction: column;
    }

    .cart-btn {
        flex-direction: row;
    }

    .header-nav {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

/* Large screen devices (desktops) */
@media (min-width: 900px) {
    .header-main {
        flex-direction: row;
        justify-content: space-between;
    }

    .productos {
        grid-template-columns: repeat(3, 1fr); /* Three columns */
    }

    .producto {
        flex-direction: column;
    }

    .cart-btn {
        flex-direction: row;
    }

    .header-nav {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    .account-container {
        max-width: 900px; /* Limiting the width for larger screens */
    }
}

/* ===================== */
/* Forms Styles          */
/* ===================== */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

form input,
form select,
form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

form button {
    background-color: #008fc7;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #25486a;
}

form input:focus,
form select:focus {
    outline: none;
    border-color: #008fc7;
}

form label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

/* ===================== */
/* Animation Styles      */
/* ===================== */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-out;
}

/* ===================== */
/* Scroll to Top Button  */
/* ===================== */

.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #008fc7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    opacity: 0;
    visibility: hidden;
}

.scroll-to-top-btn.visible {
    opacity: 1;
    visibility: visible;
}

.scroll-to-top-btn:hover {
    background-color: #25486a;
}

.scroll-to-top-btn:focus {
    outline: none;
}
